*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
   
}
header{
    border: 1px solid rgb(169, 169, 169);
}

.hederTop{
    background-color: rgb(212, 212, 212);
    padding: 0.25px;
}
.hederTop .container{
display : flex;
flex-direction : row;
justify-content : center;
align-items : center;
}
.hederSecond{
    padding-top: 1rem;
    padding-bottom: 1rem;
   
}


.hederSecond .container{
display : flex;
flex-direction : row;
justify-content : space-between;
align-items : center;
}
.logo{
display : flex;
flex-direction : row;
align-items : center;
font-size: 1.5rem;
}
.logo img{
    width: 2rem;

}
.hederSecondRight{
display : flex;
flex-direction : row;
align-items : center;
gap: 0.5px;
}
.hederSecond a{
    text-decoration: none;
    color: gray;
}
#menuButton{
    border: none;
    background-color: white;
    color: green;
    }
.languageSelect{
    display: none;
}













.example{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }




















  


















@media only screen and (min-width: 768px) {
      .hederTop .container{
        justify-content: space-between;
      }

    .languageSelect{
        display : flex;
        flex-direction : row;
        align-items: center;
        gap: 0.25rem;
    }
    .languageSelect img{
        width: 1rem;
    }
  }


@media only screen and (min-width: 992px) {
    #menuButton {
        display: none;
    }
  }
  .hederSecondSearch{
    display : flex;
flex-direction : row;
justify-content : center;
align-items : center;
border: 1px solid gray;
width: 600px;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 8px;
padding-right: 8px;
margin-left: auto;
margin-right: auto;
border-radius: 8px;
  }
  .hederSecondSearch input{
    border: none;
    width: 100%;
  
  }
  .hederSecondSearch img{
    width: 20px;
    height: 20px;
    opacity: 70%;
    
  }